body {
    border: none;
    margin: 0px;
}
#container {
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 80, 163);
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0px;
    height: 100vh;
}

.score {
    align-items: center;
    flex: 1;
    display: flex;
    gap: 2px;

}

.scoretick {
    background-color: green;
    height: 20px;
    width: 20px;
}
.keys {
    display: flex;
    flex: 1;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgb(56, 56, 56);
}

.key {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    padding: 10vw;
    margin: 5vw;
    border: 5px solid black;

}

